<%- include('htmlheader') %>


<div class="container">
  <%- include('bodyheader')%>
    
  <%- include('form')%>
  <% if( url === '/auto'){%>  
    <%- include('listtable')%>
  <%}%>
  
    
</div>
<%- include('bodyfooter')%>

<%- include('htmlfooter.ejs')%>