<!-- Erre nem is lesz szükség szerintem. Ilyen felbontás mellett, az index ejs megold mindent. A fejlesztés későbbi részénél kiderül-->
<%- include('htmlheader') %>


<div class="container">
  <%- include('bodyheader')%>
    
  <%- include('listtable')%>
  
    
</div>
<%- include('bodyfooter')%>

<%- include('htmlfooter.ejs')%>